/*Start Box Body*/
.body-content .col-md-6{
  padding-right: 0px;
  padding-left:0px;
}


/*End Box Body*/


/*Footer*/
.footer-classic{
  /*background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://www.desktopbackground.org/p/2010/08/18/66072_111-cruise-ship-hd-wallpapers_3840x2160_h.jpg) center center;*/
  background:linear-gradient(0deg,rgba(2,38,56,0.8),rgba(0,0,0,0.8)),url(https://www.desktopbackground.org/p/2010/08/18/66072_111-cruise-ship-hd-wallpapers_3840x2160_h.jpg) center center;
  background-size: cover;
  /*background: #022638*/

} 

p{
  text-align: justify;
}

.context-dark, .bg-gray-dark, .bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}*/

/*.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}*/
      /* End Footer Footer*/

      /*RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul li a{
  text-transform: uppercase;
}

.menu_items ul{
  padding-top: 15px;

}

.menu_items ul{
 font-family: 'Titillium Web', sans-serif;
}



body,h1,ul {
  margin: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
}


body {
  background: #f1f1f1;
  color: #272626;
font-family: 'Black Han Sans', sans-serif;
}


/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
  z-index: 1000;
  position: fixed;
  height: 100px;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background: #022638;
  /*background: #0a1217;*/
  /*background: #333;*/
  /*background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);*/
  /*background-image: linear-gradient(to right, #434343 0%, black 100%);*/
  font-weight: bold;
}



nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  transition: align-items .2s;
 margin-top: -50px;
}

ul {
  display: flex;
  padding: 0;
  transition: margin .2s;
}

li:not(:last-child) {
  margin-right: 20px;
}

li a {
  display: block;
  padding: 10px 20px;
}

.toggle-menu {
  display: none;
  font-size: 2rem;
  color: #fff;
  margin: 10px 10px 0 0;
  transition: margin .2s;
}


/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*main {
  display: block;
  padding: 0 20px;
}*/


/* STYLES FOR THE "scroll" CLASS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.scroll {
  box-shadow: 0 7px 0 0 rgba(0, 0, 0, .1);
}

.scroll .logo {
  padding: 10px 20px;
  font-size: 1.5rem;
}

.scroll nav {
  align-items: center;
}

.scroll .logo,
.scroll ul,
.scroll .toggle-menu {
  margin: 0;
}


/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 1060px) {
  header {
    padding: 10px;
  }
  nav {
    align-items: center;
  }
  ul {
    display: none;
  }
  .logo {
    font-size: 1.8rem;
    margin: 45px 0 0 10px;
  }
  .toggle-menu {
    display: block;
  }
}


/* STYLES FOR THE COUNTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.counter {
  visibility: hidden;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1px;
  padding: 5px;
  color: #fff;
  background: #DD3543;
}

h1 a img{
  height: 91px;
  width: 225px;
  padding-left: 20px;
}

 .nav_items li a:hover{
   text-decoration: none;
   background-color: rgba(0, 0, 0, 0.4);
   color:#fff;
   font-weight: bold;
}

.nav_items li a:focus{
    /*background-color: #00a0e3*/
   background-color: rgba(0, 0, 0, 0.4);
   border-radius: 10px;
   color:#fff;
   font-weight: bold;
   text-decoration: none;
}

